In [1]:
1+1

2

In [2]:
import pandas as pd  #판다스 라이브러리 불러오기 
print(pd.__version__)  #배포 버전 확인

1.3.5

In [3]:
data1 = ['a', 'b', 'c', 'd', 'e'] #1차원 구조의 리스트
print(data1)
print("자료형:", type(data1))

['a', 'b', 'c', 'd', 'e']
자료형: <class 'list'>

In [4]:
#판다스로 변환
sr1 = pd.Series(data1)  #Series함수 사용
print("자료형:", type(sr1))

자료형: <class 'pandas.core.series.Series'>

In [5]:
print(sr1)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [6]:
#원소 추출
sr1.loc[0] #loc 인덱스 사용

'a'

In [7]:
sr1.loc[1:3] #1부터 3까지 범위 지정 (3전까지가 아님)

1    b
2    c
3    d
dtype: object

In [8]:
data2 = (1, 3, 1.23, 100, -7)  #실수형 64비트 리스트
sr2 = pd.Series(data2)
print(sr2)

0      1.00
1      3.00
2      1.23
3    100.00
4     -7.00
dtype: float64

In [9]:
dict_data = {'c0':sr1, 'c1':sr2}  #열의 이름 정하고 열 값 입력
df1 = pd.DataFrame(dict_data)
df1

  c0      c1
0  a    1.00
1  b    3.00
2  c    1.23
3  d  100.00
4  e   -7.00

In [10]:
type(df1)

pandas.core.frame.DataFrame

In [11]:
df1.columns #열 이름 출력

Index(['c0', 'c1'], dtype='object')

In [12]:
df1.columns = [ 'string', 'number']  #열 이름 변경
df1

  string  number
0      a    1.00
1      b    3.00
2      c    1.23
3      d  100.00
4      e   -7.00

In [13]:
df1.index #행 인덱스

RangeIndex(start=0, stop=5, step=1)

In [14]:
df1.index = ['1', '2','3','4','5'] #행 인덱스 이름 변경
df1

  string  number
1      a    1.00
2      b    3.00
3      c    1.23
4      d  100.00
5      e   -7.00

In [15]:
df1.loc['3', 'number'] #일부분 추출 (loc 인덱서 사용)

1.23

In [16]:
df1.loc['1':'3', 'string':'number'] #loc 인덱서 범위 지정

  string  number
1      a    1.00
2      b    3.00
3      c    1.23

In [17]:
df1.loc['1':'4', 'number'] #이때는 하나의 열이 추출되어서 객체가 된다

1      1.00
2      3.00
3      1.23
4    100.00
Name: number, dtype: float64

In [18]:
df1.loc['3', 'string':'number']

string       c
number    1.23
Name: 3, dtype: object

In [19]:
df1.loc[:, 'string']

1    a
2    b
3    c
4    d
5    e
Name: string, dtype: object

In [20]:
df1.loc['1':'3', :]

  string  number
1      a    1.00
2      b    3.00
3      c    1.23